body {
  background-color: rgb(16 16 16) !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  background-image: url("./imgs/local-show.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 3%;
}

@media (max-width: 453px) {
  .logo {
    width: 95%;
    height: 80px;
  }
}

@media (max-width: 453px) {
  .logo-container {
    height: 20vh;
  }
}

.gigIcon {
  height: 30px;
  width: 30px;
}

.navbar {
  background-color: rgb(40 40 40) !important;
}

.section-signup {
  background-color: rgb(16 16 16);
}

.style1 {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.signup-image {
  background-color: black;
}

.signup-card-body {
  background-color: rgb(16 16 16);
  color: white !important;
}

.dropdown-options-venue {
  display: flex;
  justify-content: center;
}

.dropdown-box-venue {
  width: 35%;
}

.dropdown-question {
  height: 55px;
  background-color: #101010;
  padding-top: 1%;
}

.flyer-img {
  max-width: 35%;
  max-height: 50%;
}

.main-card {
  border-radius: 0% !important;
}

.card-body {
  background-color: rgb(16 16 16);
}

/* Default layout with two cards per row and fixed height */
.row .col-md-6 {
  flex-basis: 50%;
  max-width: 50%;
  height: 100%; /* Set a fixed height for all cards */
}

/* Change to one card per row below 1200px and remove fixed height */
@media (max-width: 1824px) {
  .row .col-md-6 {
    flex-basis: 100%;
    max-width: 100%;
    height: auto; /* Remove fixed height for one card per row */
  }
}

.results-container {
  max-width: 75% !important;
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  max-width: 760px;
  margin: 50px auto;
  padding: 40px 20px;
}
.wrapper .search {
  border: 1px solid #c8c8c8;
  overflow: hidden;
  border-radius: 25px;
  padding: 0 10px;
  margin: 15px 0 20px;
  transition: all 0.3s;
}
.wrapper .search:hover,
.wrapper .search:focus-within {
  border: 1px solid transparent;
  box-shadow: 2px 5px 8px #1f1f1f10, 0px -4px 5px #1f1f1f10;
}
.wrapper .search .form-control {
  box-shadow: none;
  outline: none;
  border: none;
}
.wrapper .search .form-control:focus::placeholder {
  opacity: 0;
}
.wrapper .accordion-button {
  font-size: 0.9rem;
  font-weight: 500;
}
.wrapper .accordion-button:hover {
  background-color: #f8f8f8;
}
.wrapper .accordion-button:focus {
  box-shadow: none;
}
.wrapper .accordion-button::after {
  background-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
  background-position: center center;
  border-radius: 50%;
}
.wrapper .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f7f7f7;
  font-weight: 600;
  border-bottom: 1px solid #ddd !important;
}
.accordion-button:not(.collapsed)::after {
  border-color: #1e88e5;
}
.wrapper .accordion-button.collapsed {
  border-bottom: 1px solid #ddd !important;
}
.wrapper .accordion-collapse.show {
  border-bottom: 1px solid #ddd !important;
}
.wrapper .accordion-collapse {
  background-color: #eaf3fa;
}
.wrapper .accordion-collapse ul li {
  line-height: 2rem;
  width: 100%;
  padding: 0.5rem 1.3rem;
}
.wrapper .accordion-collapse ul li:hover {
  background-color: #c9e7ff;
}
.wrapper .accordion-collapse ul li a {
  text-decoration: none;
  color: #333;
  font-size: 0.85rem;
  font-weight: 400;
  display: block;
}
.wrapper .accordion-collapse ul li:hover a {
  color: #222;
}
@media (max-width: 777px) {
  .wrapper {
    margin: 50px 20px;
  }
}
@media (max-width: 365px) {
  .wrapper {
    margin: 50px 10px;
  }
  .w-75 {
    width: 90% !important;
  }
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 1;
}
