body {
    background-color: rgb(16 16 16) !important;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background-image: url('./imgs/local-show.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3%;
}

@media (max-width: 453px) {
    .logo {
        width: 95%;
        height: 80px;
    }
}

@media (max-width: 453px) {
    .logo-container {
        height: 20vh;
    }
}

.gigIcon {
    height: 30px;
    width: 30px;
}

.navbar {
    background-color: rgb(40 40 40) !important;
}

.section-signup {
    background-color: rgb(16 16 16);
}

.style1 {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.signup-image {
    background-color: black;
}

.signup-card-body {
    background-color: rgb(16 16 16);
    color: white!important;
}